use Mix.Config

config :jamdb_oracle, Jamdb.Oracle.TestRepo,
  username: "jabdbtest",
  password: "jamdbtest",
  hostname: "jamdb-oracle-dev.erlangbureau.dp.ua",
  database: "JAMDBTEST",
  port: 1521,
  timeout: 15000,
  idle_interval: 1000,
  parameters: [autocommit: 1, fetch: 15]
